*{
    margin:0;
    
  }
  
  html{
    scroll-behavior:smooth;
  }
  
  body{
    font-family: 'Poppins', sans-serif;
  }
  
  :root{
    --main-color:#2c9c65;
    --highlight-color:#e0ad34;
    --background-blue:#45567d;
    --background-grey:#303841;
  }
  
  h1, h2{
    font-family: 'Raleway', sans-serif;
  }
  
  #navbar{
    display:flex;
    justify-content:flex-end;
    position:fixed;
    width:100%;
    background-color:var(--main-color);
    padding:.9rem;
  }
  
  #navbar a{
    text-decoration:none;
    color:white;
    font-size:1.1rem;
    font-weight:500;
    padding:1rem;
  }
  
  #navbar a:hover{
    background-color:var(--highlight-color);
    
  }
  
  #welcome-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:black;
    height:100vh;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  #welcome-section h1{
    color:white;
    font-size:2.1rem;
    margin-bottom:7px;
  }
  
  #welcome-section p{
    color:white;
    font-style:italic;
    font-weight:200;
  }
  
  section h1, section h2{
    text-align:center;
    align-items:center;
  }
  
  ul{
    display:flex;
    margin-right:2rem; 
  }
  
  li{
    list-style:none;
    /* margin:14px; */
  }
  
  .project-tile{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  
    width:100%;
    grid-gap:2rem;
    max-width: 1280px;
    margin-bottom:50px;
  }
  
  .project-image{
    /* height: calc(90% - 2rem); */
    height: calc(100% - 3.5rem);
    width:100%;
    object-fit:cover;
    
  }
  
  #projects{
    background-color:var(--background-blue);
    padding:10px 40px;
    text-align:center;
  }
  
  
   #projects h2{
    padding-top:80px;
    padding-bottom:1px;
    border-bottom:2px solid white;
    max-width:600px;
    margin:0 auto 3rem auto;
    font-size:2.1rem;
    color:white;
  }
  
  .project-tile a{
    text-decoration:none; 
  }
  
  .project-title-bg{
    background-color:var(--background-grey);
  }
  
  .project-tile a p{
    color:white;
    margin-top:20px;
  }
  
  #contact-info{
    width:100%;
    height:80vh;
    background-color:var(--background-grey);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
  #contact-info h2{
    padding-top:50px;
    font-size:4.2rem;
    font-weight:700;
    
  }
  
  .social-icons{
    display:flex;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
    font-size:1.3rem;
    margin-top:30px;
  }
  
  .social-icons a{
    padding:1rem 2rem;
    text-decoration:none;
    color:white;
  }
  
  .social-icons a:hover{
    color:var(--main-color);
    
  }
  
  footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:30px;
    padding-bottom:30px;
    color:white;
    background-color:var(--background-grey);
    border-top:2px solid var(--main-color);
  }
  
  @media (max-width:500px){
    footer{
      
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
  }